$bottomNavHeight: 2em;

.home {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: $bottomNavHeight;
    overflow-y: auto;
}

.home-bottom-nav {
    box-sizing: border-box;
    width: 100%;
    height: $bottomNavHeight;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    line-height: $bottomNavHeight;
    border-top: 1px solid #000;
    // display: flex;

    li {
        display: inline-block;
        width: 33.33%;
        text-align: center;

        &.selected {
            color: #03ee03;
        }
    }
}

.msg-list,
.contact-list {
    li {
        box-sizing: border-box;
        border-bottom: 1px solid #888888;

        &:last-child {
            // border-bottom: none;
        }
        a {
            display: block;
            padding: 2px 5px;
            color: #000;
        }
    }
}