$topNavHeight: 3em;
$bottomNavHeight: 3em;

.home {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    // padding-top: $topNavHeight;
    padding-bottom: $bottomNavHeight;
    overflow-y: auto;
}

.home-top-nav {
    box-sizing: border-box;
    width: 100%;
    height: $topNavHeight;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    line-height: $topNavHeight;
    background-color: #333;
    color: #fff;

    h2 {
        display: inline-block;
        padding: 0 1em;
        font-weight: normal;
        font-size: 1em;
    }

    a {
        display: inline-block;
        color: #fff;
        width: 2em;
        height: 100%;
        text-align: center;
        font-size: 1.2em;
        position: absolute;
        right: 5px;
        top: 0;
        // padding: 0 $topNavHeight / 2;
    }
}

.home-bottom-nav {
    box-sizing: border-box;
    width: 100%;
    height: $bottomNavHeight;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    line-height: $bottomNavHeight;
    border-top: 1px solid #444;
    // display: flex;

    li {
        display: inline-block;
        width: 33.33%;
        text-align: center;
        color: #555;

        &.selected {
            color: #3aa900;
        }
    }
}

.msg-list,
.contact-list {
    padding-top: 3em;
    li {
        box-sizing: border-box;
        border-bottom: 1px solid #e0e0e0;

        // &:last-child {
        //     border-bottom: none;
        // }
        a {
            display: block;
            padding: 5px;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            em {
                font-style: normal;
            }
            p {
                color: #888;
            }
        }
    }
}

.contact-list {
    li {
        padding: 5px;

        span {
            font-size: .8em;
            color: #888;
        }
    }
}

.no-list-tips {
    color: #888;
    font-style: italic;
    font-size: 1.2em;
    padding: 1em 1em;
    text-align: center;
}

.mine {
    box-sizing: border-box;
    width: 100%;
    // height: 100%;
    padding: 3em 1em 10px;
    // position: relative;
    h1 {
        font-size: 2em;
        margin-bottom: 5px;
    }
    h2 {
        color: grey;
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    p {
        font-size: 1em;
    }

    .send-msg {
        position: fixed;
        bottom: 15px;
        left: 5%;
        box-sizing: border-box;
        display: block;
        width: 90%;
        padding: .4em 0;
        border-radius: .2em;
        text-align: center;
        background: #008000;
        color: #fff;
    }
}